.collection__container {
  max-width: 1111px;
  margin: 0 auto;
  padding-top: 123px;
  padding-bottom: 200px;
}

.collection__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 156px;
  background-repeat: no-repeat;
  background-image: url(../../img/collection\ bcg.svg);
  background-size: contain;
}

.collection__item {
  max-width: 255px;
  align-items: center;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.collection__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: $font2;
  text-align: center;
  color: #333D4B;
  margin-top: 71px;
  margin-bottom: 24px;
}

@media screen and (max-width:1000px) {
  .collection__list {
    flex-direction: column;

  }

  .collection__item {
    max-width: 573px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .collection__img-block {
    max-width: 255px;
    margin-bottom: 0;
  }

  .collection__content {
    max-width: 282px;

  }
}

@media screen and (max-width:700px) {
  .collection__list {
   padding-top: 72px;

  }
  .collection__item{
  text-align: center;
  flex-direction: column;
  }
  .collection__content{
    margin-left: 0;
  }

  .collection__img-block{
    max-width: 200px;
  }
}