.main_header {
  margin-top: 44px;
}

.main_header__container {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin-bottom: 44px;
}

.main_header__list {
  display: flex;
  align-items: space-between;
}

.main_header__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #83888F;
  cursor: pointer;
  margin-right: 32px;
}

.item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333D4B;
}
.main_header__btn{
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-image: url(../../img/burger.svg);
  cursor: pointer;
  display: none;
}

@media screen and ( max-width:1003px){
  .main_header__logo{
    max-width: 235px;
  }
}
@media screen and (max-width:700px) {
  .main_header__btn{
    display: inline-block;
  }
  .main_header__nav{
    display: none;
  }
  .main_header__logo{
  max-width: 163px;
  }
}
