.hero__container {
  max-width: 1110px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hero {
  margin-bottom: 74px;
}

.hero__form {
 
  max-width: 445px;
}

.input {
  width: 100%;
  padding: 11px 27px;
  background-color: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  margin-bottom: 16px;

}

.hero__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}
.hero__sentence{
  font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #6C8294;
}
.hero__button {
  width: 183px;
  height: 48px;
  font-weight: 700px;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  background-color: #ba4270;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 600px;
  top: 68%;
  margin-top: -15px;
}
.hero__img {
  max-width: 500px;
}

.hero__title {
  font-family: $font;
  max-width: 546px;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  color: #36536B;
  margin-bottom: 16px;
}
.second_hero__btn{
  display: none;
}

@media screen and (max-width:980px) {
  .hero__container{
    flex-direction: column-reverse;
    position: relative;
  }
.second_hero__btn{
  display: none;
}

  .hero__button{
    position: absolute;
    top: 640px;
    right: -750px;
    left: 510px;
  }
  .hero__title{
    font-size: 48px;
line-height: 56px;
text-align: center;
letter-spacing: -0.369231px;
color: #36536B;
  }
  .hero__text{
    text-align: center;
  }
  .hero__form{
    margin: 0 auto;
  }
}

@media screen and (max-width:720px) {
  .hero__button{
    display: none;
  }
  .second_hero__btn{
    display: inline-block;
    max-width: 445px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: center;
letter-spacing: -0.115385px;
color: #FBFCFE;
padding: 16px 200px 14px 50px;
background: #BA4270;
border-radius: 24px;
align-items: center;
  }

  .second_hero__text{
   align-items: center;
  }

  .hero__title{
    max-width: 327px;
    font-size: 32px;
    line-height: 36px;
  }
}